# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# YOLO / Ultralytics
*.pt
runs/
weights/

# OS / IDE
.DS_Store
.idea/
.vscode/

# Captured data (keep folder structure, ignore images)
dataset/**/detections/*.jpg
dataset/**/detections/*.jpeg
dataset/**/detections/*.png
dataset/**/images/
dataset/**/labels/
#dataset/**/videos/*.mp4
dataset/**/*.zip
dataset/**/yolo/train/
dataset/**/yolo/valid/
dataset/**/yolo/test/
!dataset/**/raw/.gitkeep
exports/**/*.mp4
exports/**/*.csv
!exports/**/.gitkeep
